.page-footer
    height: 250px
    background: $cMainDarkBg

    .page-inner
        height: 100% 
        width: 100%
        max-width: $screenMax
        padding: 50px 
        margin: 0 auto
        
    &__copy
        font-size: 10px
        line-height: 20px 
        font-weight: 300
        color: #454545
        margin: 60px 0 0 0 
        padding: 0 0 0 50px 