// ----------------------------------------------------------------------
// Animation speed
// ----------------------------------------------------------------------
$t150: 150ms;
$t300: 300ms;
$t600: 600ms;

// ----------------------------------------------------------------------
// Sizes
// ----------------------------------------------------------------------
$screenMax: 1280px;

$screenXXL: 1920px;
$screenXL: 1400px;
$screenL: 1280px;
$screenM: 980px;
$screenS: 768px;
$screenXS: 560px;
$screenXXS: 480px;

$screen1: 950px;
$screen2: 500px;

$wrapperL: 1248px;
$wrapperM: 750px;
$wrapperS: 448px;
$wrapperXS: 290px;

// ------------------
$bSize-1: 640px;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$cText: #2b2b2b;
$cGreen: #28a70a;
$cLGreen: #27cc00;
$cOrange: #ff8400;
$cLOrange: #ffb400;
$cBlue: #15abff;
$cLBlue: #c8efff;
$cMainDarkBg: #131313;
$cLDark: #e1e1e1;
$cLRed: #ffc8c8;

// ----------------------------------------------------------------------
// Vars
// ----------------------------------------------------------------------
$bRadMain: 5px;
$bRadBig: 8px;
$smallPad: 20px;
$xsPad: 10px;

$footerH: 250px;