// ----------------------------------------------------------------------
// Animation speed
// ----------------------------------------------------------------------
$t150: 150ms;
$t300: 300ms;
$t600: 600ms;

// ----------------------------------------------------------------------
// Sizes
// ----------------------------------------------------------------------
$screenMax: 1280px;

$screenXXL: 1920px;
$screenXL: 1400px;
$screenL: 1280px;
$screenM: 980px;
$screenS: 768px;
$screenXS: 560px;
$screenXXS: 480px;

$screen1: 950px;
$screen2: 500px;

$wrapperL: 1248px;
$wrapperM: 725px;
$wrapperS: 448px;
$wrapperXS: 290px;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$cText: #2b2b2b;
$cGreen: #18b300;
$cBlue: #00a2e5;
$cMainDarkBg: #131313;

// ----------------------------------------------------------------------
// Vars
// ----------------------------------------------------------------------
$bRadMain: 5px;
$smallPad: 20px;
$xsPad: 10px;